<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <link rel="stylesheet" href="@Url.Content("~/Content/style.css")" />

    @RenderSection("Styles", required: false)
</head>

<body class="blank">
    <div class="container">
        <div class="color-line"></div>

        <div class="back-link">
	        <a href=""@Url.Action("Index", "Home")"" class="btn btn-primary">Back to Dashboard</a>
        </div>
        <ul>
	        <li><a class="active" href="#home">Home</a></li>
	        <li><a href="#news">News</a></li>
	        <li><a href="#contact">Contact</a></li>
        </ul>

        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
